.galeria {
  width: 100%;
  background: #d5c75f;
  padding-bottom: 4%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  padding-bottom: 0;
}

.galeria img {
  width: 27%;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}

.galeria img:nth-child(even) {
  filter: grayscale(100%);
}

.imagen1gal {
  filter: blur(10px);
}

.imagen3gal {
  filter: sepia(90%);
}

header {
  border: solid #5b7989 0px;
}

footer {
  border: solid #C6d5c5 0px;
}

@media (max-width:900px) {
  .galeria img {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}
