body {
  font-family: 'Dancing Script', cursive;
  background: #02010a;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: center;
}

.contenido {
  display: flex;
  flex-direction: column;
  width: 900px;
  animation: slidein 1s;
}

header {
  background: #5b7989;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: row;
  color: white;
  width: 100%;
  font-size: 1.3em;
}

header h1 {
  text-shadow: 2px 2px #02010a;
  flex-grow: 1;
  padding-left: .5em;
  padding-right: .5em;
}

.menuppal {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.menu {
  list-style-type: none;
  display: flex;
}

.menuppal ul {
  flex-grow: 1;
  padding-left: 0;
  display: flex;
  justify-content: flex-end;
  padding-right: 1em;
}

.menuppal ul li {
  padding-right: 1em;
  padding-left: 1em;
}

.menuppal ul li a:visited {
  color: white;
}

.menuppal ul li a{
  color: white;
}

.actual a{
  text-decoration: none;
}

img {
  box-shadow: 2px 2px #02010a;
}

footer {
  background: #C6d5c5;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
  width: 100%;
  font-size: 1em;
}

.footer {
  width: 25%;
  padding-left: 5%;
}

#contacto h2 {
  margin-bottom: 0;
}

#contacto ul {
  list-style-type: none;
  padding-left: 1%;
  margin-top: 1%;
}

#terminos h2 {
  margin-bottom: 0;
}

#terminos p {
  padding-left: 1%;
  margin-top: 1%;
}

#derechos h2 {
  margin-bottom: 0;
}

#derechos ul {
  padding-left: 1%;
  margin-top: 1%;
  list-style-type: none;
}

#redes h2 {
  margin-bottom: 0;
}

#redes ul {
  list-style-type: none;
  padding-left: 1%;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
}

#redes img {
  box-shadow: none;
  width: 1.3em;
}

@-webkit-keyframes slidein {
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }
}

@media (max-width:900px) {
  .contenido{
    width: 100%;
  }

  header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  header h1 {
    width: 100%;
    text-align: center;

  }

  .menuppal{
    width: 100%;
  }

  .menuppal ul {
    justify-content: center;
    padding-right: 0;
  }

  footer {
    flex-wrap: wrap;
    padding-top: 1em;
  }

  .footer {
    width: 100%;
    margin-top: 1em;
  }
}
