#imagen1 {
  width: 100%;
  background: #82c3a6;
  text-align: center;
  border: solid #82c3a6 1px;
  font-size: 1.3em;
}

#imagen1 img {
  width: 80%;
  margin-top: 4%;
  margin-bottom: 4%;
}

#imagen2 {
  width: 100%;
  background: #d5c75f;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: solid #d5c75f 1px;
  padding-bottom: 4%;
  font-size: 1.2em;
}

.fotoenlace>a {
width: 100%;
}

.fotoenlace a img {
  width: 100%;
}

.fotoenlace a {
  color: black;
  width: 100%;
}

.fotoenlace {
  width: 42.5%;
  margin-left: 5%;
  margin-top: 4%;
  margin-bottom: 2%;
}

#panorama {
  transition-property: transform, box-shadow;
  transition-duration: 1s, 1s;
}

#panorama:hover {
  transform: rotateZ(10deg);
  box-shadow: 2px 2px #82c3a6;
}

#mascota {
  margin-right: 5%;
  transition-property: transform, box-shadow;
  transition-duration: 1s, 1s;
}

#mascota:hover {
  transform: translate(20px, -5px);
  box-shadow: 2px 2px #82c3a6;
}

@media (max-width:900px) {
  .fotoenlace {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4%;
  }
  .fotoenlace a img {
    width: 80%;
    margin-top: 4%;
  }
  #mascota {
    margin-right: 0;
  }
}
